In [10]:
import pandas as pd 
import numpy as np

In [15]:
movies=pd.read_csv('C:/Users/HP/Downloads/Movies Dataset/movies',sep=',',names=['movie_id','title'])
ratings=pd.read_csv('C:/Users/HP/Downloads/Movies Dataset/u.data',sep='\t',names=['user_id', 'item_id', 'rating', 'timestamp'])

In [16]:
ratings.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [13]:
movies.head()

   movie_id              title
0         1   Toy Story (1995)
1         2   GoldenEye (1995)
2         3  Four Rooms (1995)
3         4  Get Shorty (1995)
4         5     Copycat (1995)

In [17]:
print(ratings.shape)
print(movies.shape)

(100000, 4)
(1682, 2)

In [21]:
#merge
merge_data=pd.merge(movies,ratings,right_on='item_id',left_on='movie_id')
merge_data.head()

   movie_id             title  user_id  item_id  rating  timestamp
0         1  Toy Story (1995)      308        1       4  887736532
1         1  Toy Story (1995)      287        1       5  875334088
2         1  Toy Story (1995)      148        1       4  877019411
3         1  Toy Story (1995)      280        1       4  891700426
4         1  Toy Story (1995)       66        1       3  883601324

In [22]:
#association matrix-pivot table
learning_matrix=ratings.pivot_table(index=['item_id'],columns=['user_id'],values='rating').reset_index(drop=True)
learning_matrix.fillna(0,inplace=True)
learning_matrix.head(20)

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,5.0,4.0,0.0,0.0,4.0,4.0,0.0,0.0,0.0,4.0,...,2.0,3.0,4.0,0.0,4.0,0.0,0.0,5.0,0.0,0.0
1,3.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,4.0,...,5.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
4,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,4.0,0.0,0.0,0.0,0.0,2.0,5.0,3.0,4.0,4.0,...,0.0,0.0,4.0,0.0,4.0,0.0,4.0,4.0,0.0,0.0
7,1.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
8,5.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,4.0,...,0.0,1.0,4.0,5.0,3.0,5.0,3.0,0.0,0.0,3.0
9,3.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,2.0,0.0,0.0,4.0,0.0,0.0,3.0,3.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
11,5.0,0.0,0.0,0.0,0.0,4.0,5.0,0.0,0.0,5.0,...,0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,5.0
12,5.0,4.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,...,5.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,5.0,4.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,4.0,0.0,0.0,3.0,0.0,0.0,0.0
14,5.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,5.0,0.0,0.0,2.0,5.0,0.0,4.0,0.0,0.0
15,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,3.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,5.0,3.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
#apply Cosine Similarity Formula on Association Matrix
from scipy.spatial.distance import cosine
#from scipy.spatial.distance import euclidean
#from scipy.spatial.distance import hamming
#from scipy.spatial.distance import minkowski
from sklearn.metrics import pairwise_distances
#Pairwise distance only accept Matrix object that's why we converted it above.
movie_similarity=1-pairwise_distances(learning_matrix,metric='cosine')
np.fill_diagonal(movie_similarity,0)

In [24]:
#lets visualize the matrix interms of data frame
ratings_matrix=pd.DataFrame(movie_similarity)
ratings_matrix

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,0.402382,0.330245,0.454938,0.286714,0.116344,0.620979,0.481114,0.496288,0.273935,...,0.035387,0.0,0.000000,0.000000,0.035387,0.0,0.0,0.0,0.047183,0.047183
1,0.402382,0.000000,0.273069,0.502571,0.318836,0.083563,0.383403,0.337002,0.255252,0.171082,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.078299,0.078299
2,0.330245,0.273069,0.000000,0.324866,0.212957,0.106722,0.372921,0.200794,0.273669,0.158104,...,0.000000,0.0,0.000000,0.000000,0.032292,0.0,0.0,0.0,0.000000,0.096875
3,0.454938,0.502571,0.324866,0.000000,0.334239,0.090308,0.489283,0.490236,0.419044,0.252561,...,0.000000,0.0,0.094022,0.094022,0.037609,0.0,0.0,0.0,0.056413,0.075218
4,0.286714,0.318836,0.212957,0.334239,0.000000,0.037299,0.334769,0.259161,0.272448,0.055453,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.094211
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,1.0,1.0,0.000000,0.000000
1678,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,0.0,1.0,0.000000,0.000000
1679,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,1.0,1.0,0.0,0.000000,0.000000
1680,0.047183,0.078299,0.000000,0.056413,0.000000,0.000000,0.051498,0.082033,0.057360,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000
1681,0.047183,0.078299,0.096875,0.075218,0.094211,0.000000,0.051498,0.000000,0.071700,0.000000,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000

In [27]:
#lets apply try catch blocks
try:
    user_input=input('Enter movie title to see top 10 similar recommended movies:')
    inp=movies[movies['title']==user_input].index.tolist()
    inp=inp[0]
    #adding similarities column 
    movies['similarity']=ratings_matrix.iloc[inp]
    #printing recommended movies
    print('Recommended movies based on your choice of ',user_input,':\n',movies.sort_values(["similarity"],ascending=False)[1:10])
except:
    print('movie name does not exist in the list')

Enter movie title to see top 10 similar recommended movies:Four Rooms (1995)
Recommended movies based on your choice of  Four Rooms (1995) :
       movie_id                       title  similarity
762        763        Happy Gilmore (1996)    0.444355
41          42               Clerks (1994)    0.423249
32          33            Desperado (1995)    0.404930
249        250   Fifth Element, The (1997)    0.404787
16          17  From Dusk Till Dawn (1996)    0.404239
1046      1047         Multiplicity (1996)    0.404080
824        825         Arrival, The (1996)    0.401676
474        475        Trainspotting (1996)    0.397274
234        235        Mars Attacks! (1996)    0.396868